<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>LE-SSERAFIM</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <script src="/colors.js"></script>
  </head>
  <body>
    <div class="container">
      <input id="night_day" type="button" value="night" onclick="nightDayHandler(this)">
      <div id="title"><h1><a href="/">LE-SSERAFIM</a></h1></div>
      <div id="grid">
        <ol>
          <div id="navigation">
            <li style="margin-bottom:10px;"><a href="/team/sakura" style="text-decoration-line: none;">SAKURA</a></li>
            <li style="margin-bottom:10px;"><a href="/team/chaewon" style="text-decoration-line: none;">CHAEWON</a></li>
            <li style="margin-bottom:10px;"><a href="/team/yunjin" style="text-decoration-line: none;">YUNJIN</a></li>
            <li style="margin-bottom:10px;"><a href="/team/kazuha" style="text-decoration-line: none;">KAZUHA</a></li>
            <li style="margin-bottom:10px;"><a href="/team/eunchae" style="text-decoration-line: none;">EUNCHAE</a></li>
            <li style="margin-bottom:10px;"><a href="/members/home" style="text-decoration-line: none;">방명록</a></li>
          </div>
        </ol>
        <div id="article">
          <h2>LE-SSERAFIM</h2>
          <p>
            2022년 5월 2일에 데뷔한 쏘스뮤직 소속의 5인조 다국적 걸그룹. HYBE와 산하 레이블인 쏘스뮤직이 협력해 론칭한 첫 번째 걸그룹이다. LE SSERAFIM은 ‘IM FEARLESS’를 애너그램 방식으로 만든 이름으로, '세상의 시선에 흔들리지 않고 두려움 없이 앞으로 나아가겠다는 자기 확신과 강한 의지'를 내포한다.
          </p>
          <img src="/lesserafim.jpeg" width="70%">
          <p>
            구약성경에서 천사들이 신의 명령으로 인간 앞에 나타날 때 처음 했던 말이 "두려워하지 말라"였다. 그리고 기독교 및 구약성경에서 언급되는 천사의 계급 9단계 중에 최고위급인 일품천사 치품천사(치천사)가 히브리어 복수형으로 세라핌(Seraphim)이고, 이는 '불꽃에서 창조된 천사'를 의미하며 여섯 장의 날개를 가지고 있다. 르(LE)는 프랑스어에서 남성 단수 정관사다. 다만 르세라핌 팀명의 알파벳인 'SSERAFIM'이라는 단어는 존재하지 않으며, 'IM FEARLESS'와 애너그램을 만들기 위해 맞춘 것으로 보인다. 원래 세라핌(Seraphim)은 '타오르는 자들'이라는 히브리어 어원을 가진 '신과 직접 만날 수 있는 계급의 어사'이며, 순결한 빛과 사고의 존재로서 사랑의 불꽃과 공명한다고 여겨져왔다. 또한 사랑과 상상력의 정령으로 불리기도 하며, 위엄과 명예로 가득한 천사라고도 할 수 있다.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
