<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>LE-SSERAFIM</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <script src="/colors.js"></script>
  </head>
  <body>
    <div class="container">
      <input id="night_day" type="button" value="night" onclick="nightDayHandler(this)">
      <div id="title"><h1><a href="/">LE-SSERAFIM</a></h1></div>
      <div id="grid">
        <ol>
          <div id="navigation">
            <li style="margin-bottom:10px;"><a href="/team/sakura" style="text-decoration-line: none;">SAKURA</a></li>
            <li style="margin-bottom:10px;"><a href="/team/chaewon" style="text-decoration-line: none;">CHAEWON</a></li>
            <li style="margin-bottom:10px;"><a href="/team/yunjin" style="text-decoration-line: none;">YUNJIN</a></li>
            <li style="margin-bottom:10px;"><a href="/team/kazuha" style="text-decoration-line: none;">KAZUHA</a></li>
            <li style="margin-bottom:10px;"><a href="/team/eunchae" style="text-decoration-line: none;">EUNCHAE</a></li>
            <li style="margin-bottom:10px;"><a href="/members/home" style="text-decoration-line: none;">방명록</a></li>
          </div>
        </ol>
        <div id="article">
          <h2>김채원(金采源, Kim Chaewon, キム・チェウォン)</h2>
          <p>
            2000년 8월 1일 출생으로 서울특별시 강남구 개포동에서 태어났다. 국적 대한민국에 광산 김씨이며 163cm, B형, 발사이즈 230mm이다. 한림예술고등학교를 졸업하였다. 쏘스뮤직 소속 5인조 걸그룹 LE SSERAFIM의 리더로 활동하고 있으며 2018년 IZ*ONE의 멤버로 데뷔하여 2021년 4월까지 활동하고 이후 2022년 LE SSERAFIM으로 다시 데뷔하였다.
          </p>
          <img src="/chaewon.jpeg" width="70%">
          <h3>리더</h3>
          <p>
            팀 내에서 나이 서열로는 첫째 사쿠라 다음인 차연장자 리더이다. 한국 아이돌은 팀 내 가장 연장자가 순수 외국인인 경우에는 주로 나이는 더 어려도 한국어와 한국 문화가 더 익숙한 한국인 멤버에게 리더를 맡기는 편이다.IZ*ONE으로 활동한 경력으로 인해 팀을 잘 이끄는 든든한 리더가 될 것으로 보인다
          </p>
          <p>
            멤버 사쿠라는 인터뷰에서 과거 IZ*ONE 활동 시절과 현재 LE SSERAFIM의 리더가 된 채원의 모습이 많이 바뀌어서 놀랍다고 언급했다. IZ*ONE에서 함께 활동하던 시기에는 채원보다 더 연상인 다른 언니 멤버들도 있고, 리더 역시 따로 있었기 때문에 연습을 채원이 주도하는 것을 본 적이 없다고 한다. 이후 LE SSERAFIM에서는 반대로 언니 라인이 되었으며, 채원이 리더로서 연습 과정을 주도하고 동생 멤버들을 리드하는 입장으로 바뀌었다고 한다. 사쿠라는 리더로서의 채원을 매우 멋지게 생각한다고 한다.
          </p>
          <h3>보컬</h3>
          <p>
            상대적으로 구분되는 포지션은 메인보컬이다. 음색 요정이라는 별명처럼, 개성 있는 음색의 소유자. 맑고 고운, 흔히 말하는 듣기 좋은 음색을 가지고 있다. 음색요정 김채원의 음색은 관련 기사와 영업글에서 빠지지 않고 등장하는 본인의 아이덴티티로, 프로듀스 48 2차 경연 '다시 만난 세계' 무대에서 첫 소절을 부르자마자 그 음색에 감탄하는 관중들의 웅성거림을 들을 수 있다.
          </p>
          <p align="middle">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/yLupcG_eFag?autoplay=1&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </p>
          <h3>댄스</h3>
          <p>
            김채원의 춤은 고유의 살랑살랑 예쁜 춤선이 큰 특징 중 하나인데 김채원만의 사소한 디테일이 그녀를 더욱 두드러지게 만든다. 결론적으로 통통 튀는 발랄한 안무, 하늘하늘함이 돋보이는 부드러운 안무, 파워풀하고 힘이 많이 필요한 안무까지 모두 준수하게 소화할 수 있으며, 곡의 분위기나 상황에 따라 이를 자유로이 오가며 조절할 수 있는 다재다능한 밸런스 멤버라고 할 수 있겠다. 김채원의 직캠 몇 개만 봐도 이를 알 수 있다.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
