<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>LE-SSERAFIM</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <script src="/colors.js"></script>
  </head>
  <body>
    <div class="container">
      <input id="night_day" type="button" value="night" onclick="nightDayHandler(this)">
      <div id="title"><h1><a href="/">LE-SSERAFIM</a></h1></div>
      <div id="grid">
        <ol>
          <div id="navigation">
            <li style="margin-bottom:10px;"><a href="/team/sakura" style="text-decoration-line: none;">SAKURA</a></li>
            <li style="margin-bottom:10px;"><a href="/team/chaewon" style="text-decoration-line: none;">CHAEWON</a></li>
            <li style="margin-bottom:10px;"><a href="/team/yunjin" style="text-decoration-line: none;">YUNJIN</a></li>
            <li style="margin-bottom:10px;"><a href="/team/kazuha" style="text-decoration-line: none;">KAZUHA</a></li>
            <li style="margin-bottom:10px;"><a href="/team/eunchae" style="text-decoration-line: none;">EUNCHAE</a></li>
            <li style="margin-bottom:10px;"><a href="/members/home" style="text-decoration-line: none;">방명록</a></li>
          </div>
        </ol>
        <div id="article">
          <h2>中村一葉 (나카무라 카즈하, Kazuha Nakamura)</h2>
          <p>
            2003년 8월 9일 오사카부 오사카시에서 태어났다. 일본 국적 인물로 신장 170cm에 Dutch National Ballet Academy를 중퇴하였다. MBTI는 INFP이다.
          </p>
          <img src="/kazuha.jpeg" width="70%">
          <h3>데뷔 이전의 삶</h3>
          <p>
            일본 오사카에서 태어나고 쭉 자랐다. 2006년 만 3살부터 오사카에 위치한 '하시모토 사치요 발레 스쿨'에서 발레와 '컨템포러리 댄스'를 배웠다.중학생 때 학교 친구들 사이에서 케이팝이 인기가 있었는데, BLACKPINK의 뮤직비디오를 보고 K-POP의 매력을 느꼈다고 한다. 유튜브로 붐바야 뮤직비디오를 우연히 봤는데, 그때 ‘이건 무슨 세계지?’ 라고 생각하며 충격을 받았다고 한다. 이후 블랙핑크의 오사카 콘서트에 가서 라이브 무대를 직접 보고 감동받아 눈물을 흘렸다고 한다.2015년부터 2019년까지 매년 일본의 유명한 발레 콩쿠르에서 많은 수상 경력이 있다. 웬만한 대회에서 모두 1위를 휩쓸었다. 세계 탑 10 발레 스쿨에 꼭 꼽히는 러시아의 볼쇼이 발레 아카데미와 영국의 로얄 발레스쿨에서 단기 연수를 받았고, 2018년과 2019년에는 핀란드, 아일랜드, 폴란드 등 유럽 각지에서 발레 공연을 한 이력이 있다. 2020년 고등학교 2학년 때부터 약 2~3년 동안 네덜란드 국립 발레 아카데미에서 유학했다. 2021년 8월 6일 일본에서 마지막으로 발레 공연을 했다. 발레를 총 15년 동안 전문적으로 배웠고 무용이나 발레 배경 출신 아이돌 중 가장 엘리트 코스를 제대로 밟았다고 볼 수 있다.
          </p>
          <h3>포지션</h3>
          <p>
            LE SSERAFIM의 올라운더 멤버 중 한 명으로 주로 꼽힌다. 주 포지션은 랩과 댄스이지만, 보컬 실력도 좋은 편이라 연습생 기간이 짧은 외국인임에도 파트를 상당히 많이 받는 편. 타이틀곡 'FEARLESS'와 'BLUE FLAME'을 비롯한 거의 모든 곡에서 주력 보컬 멤버인 김채원과 허윤진 다음으로 파트가 많고, 'ANTIFRAGILE'과 'IMPURITIES' 같은 경우는 오히려 윤진 다음 두번째로 가장 많았다.
          </p>
          <p align="middle">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/yYqmyXGjhJ0?autoplay=1&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </p>
          <h3>댄스</h3>
          <p>
            케이팝에 관심 있는 많은 발레 경험자들이 카즈하의 춤을 보면 모두 똑같은 부분에서 놀란다. 사실 무용이나 발레로 처음 춤을 배운 사람들은 오래 했을 수록 그 외 다른 장르의 춤을 습득하는데 굉장한 어려움을 겪는다. 몸을 쓰는 의도나 힘과 근육을 쓰는 방식, 박자감 등이 아예 다르기 때문이다. 그래서 힙합이나 스트릿댄스를 배우는 발레리나/리노들은 차라리 발레를 배우지 않은 상태였으면 더 빠른 속도로 배웠을 거라고 많이들 말한다. 보통은 상체가 통짜로 움직이는 습관을 자주 발견할 수 있으며 스텝이나 힙합의 바운스 같은 걸 습득하는데 오랜 시간이 걸린다. 그런데 카즈하는 고작 4~6개월만에 15년 동안 해왔던 발레 흔적을 거의 지우고 발레리나의 힘, 컨트롤, 아름다운 선과 우아함 등의 장점만 살려서 힙합과 스트릿댄스의 영향이 큰 K-POP 안무를 잘 소화하고 있다.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
