<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>LE-SSERAFIM</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <script src="/colors.js"></script>
  </head>
  <body>
    <div class="container">
      <input id="night_day" type="button" value="day" onclick="nightDayHandler(this)">
      <div id="title"><h1><a href="/">LE-SSERAFIM</a></h1></div>
      <div id="grid">
        <ol>
          <div id="navigation">
            <li style="margin-bottom:10px;"><a href="/team/sakura" style="text-decoration-line: none;">SAKURA</a></li>
            <li style="margin-bottom:10px;"><a href="/team/chaewon" style="text-decoration-line: none;">CHAEWON</a></li>
            <li style="margin-bottom:10px;"><a href="/team/yunjin" style="text-decoration-line: none;">YUNJIN</a></li>
            <li style="margin-bottom:10px;"><a href="/team/kazuha" style="text-decoration-line: none;">KAZUHA</a></li>
            <li style="margin-bottom:10px;"><a href="/team/eunchae" style="text-decoration-line: none;">EUNCHAE</a></li>
            <li style="margin-bottom:10px;"><a href="/members/home" style="text-decoration-line: none;">방명록</a></li>
          </div>
        </ol>
        <div id="article">
          <h2>宮みや脇わき 咲さく良ら (미야와키 사쿠라, Sakura Miyawaki)</h2>
          <p>
            1998년 3월 19일 일본 가고시마현 가고시마시 출생이다. 일본 국적으로 163cm에 42kg A형이다. 반려묘 마루짱을 키우고 있으며 통신제 고등학교를 졸업하였다.2011년 일본에서 걸그룹 HKT48의 멤버로 연예계에 데뷔했고, 2018년 대한민국에서 걸그룹 IZ*ONE의 멤버로 데뷔하여 활동했다. 2021년에 두 그룹의 활동을 종료했다.
          </p>
          <img src="/sakura.jpeg" width="70%">
          <h3>보컬</h3>
          <p>
            상대적으로 분류되는 포지션은 서브보컬. 인터뷰를 통해 과거에는 노래를 하는 것이 무서울 때도 있었지만, 하이브 입사 후 새로운 마음가짐을 가지고 많이 노력했다고 언급하였다. 그 결과, LE SSERAFIM으로 다시 데뷔한 후 보컬로 많은 성장을 이뤄냈다.격한 안무를 하면서도 안정적인 라이브를 보여주고, 12인조 걸그룹 시절과는 다르게 소인원인 5인조 걸그룹에서 자신의 파트를 안정적으로 소화한다. 2022 아카라카에서는 라이브를 하며 계속해서 호응을 유도하기도 하였다.
          </p>
          <p align="middle">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/PRt9PTDZ7iE?autoplay=1&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </p>
          <h3>댄스</h3>
          <p>
            프로듀스48 당시 일본 아이돌 활동을 하며 제대로 된 트레이닝을 받지 못해 부족한 댄스 실력을 보여주었으나 IZ*ONE 활동을 하며 실력이 꾸준히 향상되었다는 평을 많이 받는 멤버이다. 본인도 여러 매체를 통해 자신의 성장과 관련된 댓글들을 읽고 감동 받았던 적이 많았고, 이를 자극제로 삼아 더 열심히 할 수 있었다고 언급하기도 했다.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
