<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>LE-SSERAFIM</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <script src="/colors.js"></script>
  </head>
  <body>
    <div class="container">
      <input id="night_day" type="button" value="night" onclick="nightDayHandler(this)">
      <div id="title"><h1><a href="/">LE-SSERAFIM</a></h1></div>
      <div id="grid">
        <ol>
          <div id="navigation">
            <li style="margin-bottom:10px;"><a href="/team/sakura" style="text-decoration-line: none;">SAKURA</a></li>
            <li style="margin-bottom:10px;"><a href="/team/chaewon" style="text-decoration-line: none;">CHAEWON</a></li>
            <li style="margin-bottom:10px;"><a href="/team/yunjin" style="text-decoration-line: none;">YUNJIN</a></li>
            <li style="margin-bottom:10px;"><a href="/team/kazuha" style="text-decoration-line: none;">KAZUHA</a></li>
            <li style="margin-bottom:10px;"><a href="/team/eunchae" style="text-decoration-line: none;">EUNCHAE</a></li>
            <li style="margin-bottom:10px;"><a href="/members/home" style="text-decoration-line: none;">방명록</a></li>
          </div>
        </ol>
        <div id="article">
          <h2>허윤진 (許允眞, Huh Yunjin, ホ・ユンジン)</h2>
          <p>
            2001년 10월 8일 서울특별시 강남구 일원동에서 태어났다. 하지만 생후 8개월 이후 미국으로 이민을 갔고 현재 미국 국적의 신분이다. 신장 172cm, B형, 240mm의 발사이즈를 가지고 있다. 최종 학력은 한림연예예술고등학교 중퇴이다.
          </p>
          <img src="/yunjin.jpeg" width="70%">
          <h3>데뷔 이전의 삶</h3>
          <p>
            한국에서 태어나 생후 8개월 때부터 미국 뉴욕 주로 이민가서 자랐다. 이후 2017년 8월, 플레디스 뉴욕 글로벌 오디션에서 합격하여 2018년 연초부터 한국으로 와서 연습생으로 생활했고, 2018년 4월엔 프로듀스 48에 참가하여 최종 26위를 기록했다. 이후로도 플레디스에서 연습생으로 생활하다가 중간에 쏘스뮤직으로 이적했지만, 결국 월말평가에서 탈락하여 방출되었다. 그렇게 미국으로 귀국하여 약 1년 반 동안 공부하면서 대학에 합격하고 진학을 준비하다가 쏘스뮤직에서 데뷔조 캐스팅 제의가 들어와서 다시 한국으로 돌아왔다. 만 3년 동안 플레디스와 쏘스뮤직에서 연습생으로 생활했으며 멤버들 중에서 연습생 기간이 가장 길다.
          </p>
          <h3>보컬</h3>
          <p>
            다방면으로 뛰어난 보컬 실력을 자랑하지만 그중에서도 특히나 성량이 풍부하다. 프로듀스 48 그룹 배틀 평가 당시 허윤진이 속한 하이텐션 2조는 메이제이 리에겐 '스피커 찢는 팀', 소유에겐 '파워 끝판왕' 등으로 불렸는데, 허윤진의 성량도 이에 일조했다. 뮤지컬 해밀턴의 한 소절을 소화하면서 풍부한 성량을 유감없이 보여주기도 했다.
          </p>
          <p align="middle">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/_6olzm6F1NU?autoplay=1&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </p>
          <h3>댄스</h3>
          <p>
            기본기가 좋으며 파워풀하고 절도 있게 춤을 춘다. 하지만 별명인 "기린쨩"의 유래를 보면 알 수 있듯이 처음엔 춤을 잘 추는 편이 아니었다. 연습생 기간으로 얼마나 춤 실력이 늘었는지 알 수 있는 부분.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
